header {
	border: 2px solid black;
	height: 150px;
	width: 80%;
	margin: 15px auto;
	font-size: : 20px;
	text-align: center;
}

.displayletters {
	border: 2px solid black;
	height: 150px;
	width: 80%;
	margin: 50px auto;
	font-size: : 150px;
	text-align: center;
}

#correctguess {
	border: 2px solid black;
	height: 150px;
	width: 80%;
	margin: 50px auto;
	font-size: : 70px;
	text-align: center;
}

#wrongguess {
	border: 2px solid black;
	height: 150px;
	width: 80%;
	margin: 50px auto;
	font-size: : 70px;
	text-align: center;
}